.container-nav{
    background-image: url('../resources/section1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.nav-link{
    color: black;
}

.navbar{
    opacity: 75%;
 }

 .card-section1{
     padding-left: 50px;
 }
    

