* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

.a { grid-area: a }
.b { grid-area: b }
.c { grid-area: c }
.d { grid-area: d }
.e { grid-area: e }
.f { grid-area: f }
.g { grid-area: g }
.h { grid-area: h }

.hide {
  display: none;
}

.fa-trash {
  color: red;
  cursor: pointer;
}

.fa-pencil {
  color: rgb(206, 206, 0);
}

/*
  a - prof pic
  b - name
  c - contact
  d - age
  e - appointment type
  f - time
  g - day
  h - btn
*/
.doc__app {
  border: 1px solid black;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template: 
    "a b b c" auto
    "a d d e" auto
    "f f f h" auto
    "g g g h" / auto 1fr 1fr auto;
  padding: 15px;
  width: 400px;
}

.d, .doc__app--type {
  align-self: flex-start;
}

.doc__app h6 {
  font-size: 14px;
  margin: 0;
}

.doc__app-btns {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.doc__app-btn {
  background-color: #6262ff;
  border: 1px solid black;
  color: white;
  padding: 10px;
}

.doc__app-btn--end {
  background-color: rgb(0, 167, 22);
  margin-left: auto;
}

.doc__app-btn--focus, .doc__app-btn:hover {
  background-color: white;
  border-color: #6262ff;
  color: black;
}

.doc__app-cont {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  overflow-y: auto;
  justify-content: space-between;
  align-content: flex-start;
  gap: 20px;
}

.doc__app-cont.hide {
  display: none;
}

.doc__app--img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.doc__app--done, .doc__app--cancel, .doc__app--remove, .doc__app--discard, .doc__app--view {
  border: 1px solid black;
  color: white;
  justify-self: flex-end;
  padding: 5px 7px;
}

.doc__app--done:hover, .doc__app--cancel:hover, .doc__app--remove:hover, .doc__app--discard:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.doc__app--cancel, .doc__app--remove, .doc__app--discard {
  background-color: red;
}

.doc__app--done {
  background-color: green;
  position: relative;
  right: 75px;
}

.doc__app--view {
  background-color: #3030db;
}

.doc__app--contact, .doc__app--type {
  justify-self: flex-end;
}

.doc__sched-cont.hide {
  display: none;
}

.doc__sched-cont {
  display: grid;
  grid-template:
    "a a a" auto
    "b c c" auto
    "b c c" 1fr / 150px 1fr 1fr;
  gap: 20px 50px;
  justify-items: center;
}

.doc__add-sched-btn {
  background-color: rgb(10, 161, 18);
  border: 2px solid black;
  color: white;
  padding: 10px;
}

.doc__sched-cont--grid-top {
  display: flex;
  gap: 15px;
  align-items: center;
  grid-area: a;
  justify-self: flex-start;
}

.doc__sched-cont--grid-top select, .doc__sched-cont--grid-top input{
  padding: 7.5px;
}

.doc__weekday-cont {
  display: flex;
  flex-direction: column;
  grid-area: b;
  justify-self: stretch;
}

.doc__weekday-btn {
  border: 2px solid black;
  border-top-width: 0;
  padding: 10px 20px;
}

.doc__weekday-btn:nth-of-type(1) {
  border-top-width: 2px;
}

.doc__weekday-btn:hover, .doc__weekday-btn--focus {
  background-color: rgb(185, 114, 0);
  color: white;
}

.doc__time-cont {
  grid-area: c;
  justify-self: stretch;
  height: 450px;
  overflow-y: auto;
}

.doc__time {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
}

.doc__time h3 {
  margin-right: auto;
  margin-bottom: 0;
}