* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.fa-user {
  color: blue;
}

.fa-stack {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 3 / 1;
}

.fa-trash {
  color: red;
}

.fa-pencil {
  color: yellow;
}

.doc__app {
  border: 1px solid black;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 1fr 1fr auto;
      grid-template-columns: auto 1fr 1fr auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  padding: 15px;
  width: 420px;
}

.doc__app h4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.doc__app h6 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.doc__app h4, .doc__app h5, .doc__app h6 {
  font-size: 17px;
}

.doc__app h4, .doc__app h5, .doc__app h6 {
  margin: 0;
}

.doc__app--time {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / 4 / 3;
}

.doc__app-btns {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.doc__app-btn {
  background-color: #6262ff;
  border: 1px solid black;
  color: white;
  padding: 10px;
}

.doc__app-btn--end {
  background-color: rgb(0, 167, 22);
  margin-left: auto;
}

.doc__app-btn--focus, .doc__app-btn:hover {
  background-color: white;
  border-color: #6262ff;
  color: black;
}

.doc__app-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  margin-bottom: 15px;
}

.doc__app-cont.hide {
  display: none;
}

.doc__app--done, .doc__app--cancel, .doc__app--remove, .doc__app--discard {
  border: 1px solid black;
  color: white;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  justify-self: flex-end;
  padding: 10px;
}

.doc__app--done:hover, .doc__app--cancel:hover, .doc__app--remove:hover, .doc__app--discard:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.doc__app--cancel, .doc__app--remove, .doc__app--discard {
  background-color: red;
}

.doc__app--done {
  background-color: green;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.doc__app--remove, .doc__app--discard {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
}

.doc__app--blue {
  background-color: #3030db;
}

.doc__app--contact {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.doc__app--type {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.doc__app--time {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.doc__app--contact, .doc__app--type {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  justify-self: flex-end;
}

.doc__sched-cont.hide {
  display: none;
}

.doc__sched-cont {
  display: grid;
  grid-template:
    "a a a" auto
    "b c c" auto
    "b c c" 1fr / 150px 1fr 1fr;
  gap: 20px 50px;
  justify-items: center;
}

.doc__add-sched-btn {
  background-color: rgb(10, 161, 18);
  border: 2px solid black;
  color: white;
  padding: 10px;
}

.doc__sched-cont--grid-top {
  display: flex;
  gap: 15px;
  align-items: center;
  grid-area: a;
  justify-self: flex-start;
}

.doc__sched-cont--grid-top select, .doc__sched-cont--grid-top input{
  padding: 7.5px;
}

.doc__weekday-cont {
  display: flex;
  flex-direction: column;
  grid-area: b;
  justify-self: stretch;
}

.doc__weekday-btn {
  border: 2px solid black;
  border-top-width: 0;
  padding: 10px 20px;
}

.doc__weekday-btn:nth-of-type(1) {
  border-top-width: 2px;
}

.doc__weekday-btn:hover, .doc__weekday-btn--focus {
  background-color: rgb(185, 114, 0);
  color: white;
}

.doc__time-cont {
  grid-area: c;
  justify-self: stretch;
}

.doc__time {
  display: flex;
  align-items: center;
  gap: 20px;
}

.doc__time h3 {
  margin-right: auto;
}

.doc__unapp-btns {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
}

.doc__unapp-btns button {
  margin-left: 10px;
}
/*# sourceMappingURL=profile-ivan.css.map */