* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

header {
  height: 120px;
  width: auto;
  background-color: #f0f0f0;
}

.hide {
  display: none;
}

.a {grid-area: a}
.b {grid-area: b}
.c {grid-area: c}
.d {grid-area: d}
.e {grid-area: e}
.f {grid-area: f}
.g {grid-area: g}
.h {grid-area: h}
.i {grid-area: i}
.j {grid-area: j}

.header__logo {
  height: 80px;
  width: auto;
  margin-top: 20px;
  margin-left: 130px;
}

.fa-search {
  position: absolute;
  top: 7.5px;
  left: 15px;
}

.fa-stethoscope, .fa-user, .fa-video-camera {
  color: #b3b3b3;
  margin-right: 7.5px;
}

.search-form {
  height: auto;
  width: 1110px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr 1fr;
  -ms-grid-columns: 4fr auto;
      grid-template: auto 1fr 1fr / 4fr auto;
  gap: 5px;
  margin: 15px auto;
}

.search-form button {
  background-color: #3fa83f;
  border: 1px solid #3fa83f;
  color: white;
}

.search-form button:hover {
  background-color: white;
  border: 1px solid #3fa83f;
  color: black;
}

.search-form h4 {
  font-size: 13px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.search-form button {
  border-radius: 15px;
  font-size: 18px;
  justify-self: flex-start;
  padding: 0 25px;
}

.search-form__input-cont {
  position: relative;
}

.search-form__input-cont input {
  font-size: 18px;
  padding: 12.5px 50px;
  width: 100%;
}

.search-form__filter-cont {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12.5px;
}

.search-form__filter-cont span {
  font-size: 14px;
  font-weight: bold;
}

.search-form__filter-cont select {
  font-size: 14px;
  padding: 5px 7.5px;
}

.search-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 1110px;
}

.search-results span {
  font-size: 36px;
}

/*
  a - icon
  b - name
  c - btn
  d - view profile
  e - spec
  f - contact
  g - f2f price
  h - virtual price
*/
.search-results__result {
  border: 1px solid #d1cbcb;
  box-shadow: 0 0 10px #d1cbcb;
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
  grid-template: 
    "a b b c" auto
    "a d d c" auto
    "e e f f" auto
    "g g h h" auto / auto auto auto auto;
  align-items: flex-start;
  padding: 15px;  
  width: 500px;
}
.fa-user-md {
  background-color: #f0f0f0;
  border-radius: 50%;
  justify-self: flex-start;
  padding: 10px 15px;
}
.search-results__name {
  font-size: 18px;
  align-self: flex-end;
  margin: 0;
}
.search-results__contact, .search-results__virtual {
  justify-self: flex-end;
  width: 180px;
}
.search-results__book-btn {
  background-color: #116bcb;
  border: 1px solid #116bcb;
  color: white;
  border-radius: 5px;
  justify-self: flex-end;
  padding: 10px;
}
.search-results__book-btn:hover {
  background-color: white;
  border: 1px solid #116bcb;
  color: black;
}
.search-results p {
  margin: 0;
}

/* width: 220px; */